//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 * \brief Contains gbb%%NAME%%
 *
 * \b gbb%%NAME%%
 *
 * %%DESCRIPTION%%
 *
 */
//----------------------------------------------------------------------
#ifndef %%SENTINEL%%
#define %%SENTINEL%%

#include "plugins/ib2c/tGroup.h"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Class declaration
//----------------------------------------------------------------------
//! %%SHORT_DESCRIPTION%%
/*!
 * %%DESCRIPTION%%
 */
class gbb%%NAME%% : public ib2c::tGroup
{

//----------------------------------------------------------------------
// Ports (These are the only variables that may be declared public)
//----------------------------------------------------------------------
public:

  tStaticParameter<double> static_parameter_1;   Example for a static parameter. Replace or delete it!
  
  tParameter<double> parameter_1;   Example for a runtime parameter. Replace or delete it!

  tInput<double> input_signal_1;   Example for input ports. Replace or delete them!
  tInput<double> input_signal_2;

  tOutput<double> output_signal_1;   Examples for output ports. Replace or delete them!
  tOutput<double> output_signal_2;

//----------------------------------------------------------------------
// Public methods and typedefs
//----------------------------------------------------------------------
public:

  gbb%%NAME%%(core::tFrameworkElement *parent, const std::string &name = "%%NAME%%",
      %%INDENT_ONE_NAME%%ib2c::tStimulationMode stimulation_mode = ib2c::tStimulationMode::AUTO, unsigned int number_of_inhibition_ports = 0,
      %%INDENT_ONE_NAME%%const std::string &structure_config_file = __FILE__".xml");

//----------------------------------------------------------------------
// Private fields and methods
//----------------------------------------------------------------------
private:

  Here is the right place for your variables. Replace this line by your declarations!

  /*! Destructor
   *
   * The destructor of groups is declared private to avoid accidental deletion. Deleting
   * groups is already handled by the framework.
   */
  ~gbb%%NAME%%();

  virtual void OnStaticParameterChange();   Might be needed to process static parameters. Delete otherwise!

};

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
%%INCLUDE_HPP%%

#endif
