//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 */
//----------------------------------------------------------------------
#include "%%HEADER_PATH%%"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------
#include <cassert>

//----------------------------------------------------------------------
// Namespace usage
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Const values
//----------------------------------------------------------------------
runtime_construction::tStandardCreateModuleAction<gbb%%NAME%%> cCREATE_ACTION_FOR_GBB_%%NAME_IN_UPPER_CASE%%("%%NAME%%");

//----------------------------------------------------------------------
// Implementation
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// g%%NAME%% constructor
//----------------------------------------------------------------------
gbb%%NAME%%::gbb%%NAME%%(core::tFrameworkElement *parent, const std::string &name,
         %%INDENT_TWO_NAMES%%const std::string &structure_config_file) :
  ib2c::tGroup(parent, name, structure_config_file)
  If you have some member variables, please initialize them here. Especially built-in types (like pointers!). Delete this line otherwise!
{}

//----------------------------------------------------------------------
// gbb%%NAME%% destructor
//----------------------------------------------------------------------
gbb%%NAME%%::~gbb%%NAME%%()
{}

//----------------------------------------------------------------------
// gbb%%NAME%% OnStaticParameterChange
//----------------------------------------------------------------------
void gbb%%NAME%%::OnStaticParameterChange()
{
  tGroup::OnStaticParameterChange();

  if (this->static_parameter_1.HasChanged())
  {
    As this static parameter has changed, do something with its value!
  }
}

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
