//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 */
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------
#include <cassert>

//----------------------------------------------------------------------
// Namespace usage
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Const values
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Implementation
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// mbb%%NAME%% constructor
//----------------------------------------------------------------------
template <>
mbb%%NAME%%<>::mbb%%NAME%%(core::tFrameworkElement *parent, const std::string &name,
           %%INDENT_TWO_NAMES%%ib2c::tStimulationMode stimulation_mode, unsigned int number_of_inhibition_ports) :
  tModule(parent, name, stimulation_mode, number_of_inhibition_ports, false) // change to 'true' to make group's ports shared (so that ports in other processes can connect to its output and/or input ports)
  If you have some member variables, please initialize them here. Especially built-in types (like pointers!). Delete this line otherwise!
{}

//----------------------------------------------------------------------
// mbb%%NAME%% destructor
//----------------------------------------------------------------------
template <>
mbb%%NAME%%<>::~mbb%%NAME%%()
{}

//----------------------------------------------------------------------
// mbb%%NAME%% OnStaticParameterChange
//----------------------------------------------------------------------
template <>
void mbb%%NAME%%<>::OnStaticParameterChange()
{
  tModule::OnStaticParameterChange();

  if (this->static_parameter_1.HasChanged())
  {
    As this static parameter has changed, do something with its value!
  }
}

//----------------------------------------------------------------------
// mbb%%NAME%% OnParameterChange
//----------------------------------------------------------------------
template <>
void mbb%%NAME%%<>::OnParameterChange()
{
  tModule::OnParameterChange();

  Add handling of your own parameters here.
  If this method is called, at least on of our parameters has changed. However, each can be checked using its .HasChanged() method.
}

//----------------------------------------------------------------------
// mbb%%NAME%% ProcessTransferFunction
//----------------------------------------------------------------------
template <>
bool mbb%%NAME%%<>::ProcessTransferFunction(double activation)
{
  Use your input and output ports to transfer data through this module.
  Return whether this transfer was successful or not.
}

//----------------------------------------------------------------------
// mbb%%NAME%% CalculateActivity
//----------------------------------------------------------------------
template <>
ib2c::tActivity mbb%%NAME%%<>::CalculateActivity(std::vector<ib2c::tActivity> &derived_activity, double activation) const
{
  Return a meaningful activity value here. You also want to set the derived activity vector, if you registered derived activities e.g. in the constructor.
}

//----------------------------------------------------------------------
// mbb%%NAME%% CalculateTargetRating
//----------------------------------------------------------------------
template <>
ib2c::tTargetRating mbb%%NAME%%<>::CalculateTargetRating(double activation) const
{
  Return a meaningful target rating here. Choosing 0.5 just because you have no better idea is not "meaningful"!
  If you do not want to use the activation in this calculation remove its name to rid of the warning.
}

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
